.App {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  margin: 10px;
  position: relative;
}

img {
  width: 150px;
  height: auto;
}

button {
  margin-top: 5px;
}
